<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Add new User</h1>
    <form method="POST" action="http://localhost:8080/users/add/new">
        <input type="number" name="id" placeholder="enter id" required>
        <input type="username" name="username" placeholder="enter username" required>
        <input type="email" name="email" placeholder="enter email" required>
        <input type="password" name="password" placeholder="enter password" required>
        <button>Add</button>
    </form>
</body>

</html>