<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete</title>
</head>

<body>
    <h1>You are deleting This Id: <%=id %>
    </h1>
    <form method="POST" action="http://localhost:8080/users/<%=id%>/delete?_method=DELETE">
        <input type="email" name="email" placeholder="enter email" required>
        <input type="password" name="password" placeholder="enter password" required>
        <button>Delete</button>
    </form>
</body>

</html>